.card-body1 {
    background-color: brown;
    text-align: center;
    padding: 80px;
    border-radius: 20%;

}

.card-body2 {
    background-color: brown;
    text-align: center;
    padding: 80px;
    border-radius: 20%;
}

.form-select {
    size-adjust: 50%;
}

.btn {
    margin-top: 50px;
}

.cards {
    display: flex;
}