
/* Multi-Part CSS */
input[type=checkbox] {
  position: absolute;
 /* Position the checkbox in upper left corner */
  opacity: 0;
}
/* Styling Parts */
#part1, #part2, #part3 {
  z-index: 2;
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/* Hidden Parts */
#part2, #part3 {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
/* Show Step 2 & Hide Step 1 */
#step2:checked ~ #part2 {
  opacity: 1;
  height: auto;
}
#step2:checked ~ #part1 {
  opacity: 0;
  height: 0;
  display: none;
}
/* Show Step 3 & Hide Step 2 */
#step3:checked ~ #part3 {
  opacity: 1;
  height: auto;
}
#step3:checked ~ #part2 {
  opacity: 0;
  width: 0;
  height: 0;
}
