<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/generator.css}" href="/css/generated.css"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/generated.css"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
          crossorigin="anonymous"/>
</head>
<body>

<!--GENERATED OUTPUT-->
<div class="col-lg-4 mb-2" th:fragments="generated">

    <div class="article-card" th:each="exercise,iter : ${exerciseRequest}">
        <div class="content">
            <!--            <td th:text="${exercise.id}"></td>-->
            <!--            <td th:text="${exercise.bodyPart}"></td>-->
            <p class="exercise-num">Exercise <span th:text="${iter.count}"></span>
            </p>
            <p class="exercise-name" th:text="${exercise.name}"></p>
            <!--            <td th:text="${exercise.target}"></td>-->
            <img class="animGif" th:src="${exercise.exerciseGif}">


        </div>
    </div>
</div>

</body>
</html>