<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            th:href="@{/css/generator-test.css}"
            href="/css/generator-test.css"
            rel="stylesheet"
            type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/generator-test.css"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="signup-container">
    <!-- <div class="left-container">
    <h1>
      <i class="fas fa-paw"></i>
      PUPASSURE
    </h1>
    <div class="puppy">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-542207-jpeg.png">
    </div>
  </div> -->

    <form action th:action="@{/generated}" th:object="${workoutRequest}" method="post">
        <div class="right-container">
            <header>
                <h1>Randomize Your Workout!</h1>

                <div class="minutes">
                    <label for="set">How many minutes?</label>
                    <div class="radio-container" th:field="${workoutRequest.minutes}">
                        <input checked=""
                               id="30-min"
                               name="minutes"
                               type="radio"
                               th:value="30"
                        />
                        <label for="30-min">30 minutes</label>
                        <input id="45-min"
                               name="minutes"
                               type="radio"
                               th:value="45"
                        />
                        <label for="45-min">45 minutes</label>
                        <input id="60-min"
                               name="minutes"
                               type="radio"
                               th:value="60"
                        />
                        <label for="60-min">60 minutes</label>
                    </div>
                </div>

                <!-- SPACE! -->
                <div>&nbsp;</div>

                <div class="minutes">
                    <label for="set">Select Workout Type</label>
                    <div class="radio-container">
                        <th:block th:each="group : ${bodyGroupList}">
                            <input th:field="*{bodyGroup}"
                                   th:id="${group.name}"
                                   type="radio"
                                   name="body-group"
                                   th:value="${group.name}"
                            />
                            <label th:for="${group.name}" th:text="${group.name}"></label>
                        </th:block>
                    </div>
                </div>

                <!-- SPACE! -->
                <div>&nbsp;</div>

                <div class="minutes">
                    <label for="set">Select Equipment</label>
                    <div class="radio-container">
                        <th:block th:each="equipment : ${equipmentListFirstRow}">
                            <input th:id="${equipment.toString()}"
                                   name="equipment"
                                   type="checkbox"
                                   th:value="${equipment.name}"
                            />
                            <label th:for="${equipment.toString()}" th:text="${equipment.toString()}"></label>
                        </th:block>
                    </div>

                    <div class="minutes">
                        <div class="radio-container">
                            <th:block th:each="equipment : ${equipmentListSecondRow}">
                                <input th:id="${equipment.toString()}"
                                       name="equipment"
                                       type="checkbox"
                                       th:value="${equipment.name}"
                                />
                                <label th:for="${equipment.toString()}" th:text="${equipment.toString()}"></label>
                            </th:block>
                        </div>
                        <div class="radio-container">
                            <th:block th:each="equipment : ${equipmentListThirdRow}">
                                <input th:id="${equipment.toString()}"
                                       name="equipment"
                                       type="checkbox"
                                       th:value="${equipment.name}"
                                />
                                <label th:for="${equipment.toString()}" th:text="${equipment.toString()}"></label>
                            </th:block>
                        </div>
                    </div>
                </div>
            </header>

            <footer>
                <div class="set">
                    <button id="back" name="reset" type="reset">Reset</button>
                    <button id="next" name="submit" type="submit">Generate</button>
                </div>
            </footer>
    </form>

</div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"
></script>
</body>
</html>