<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/generator.css}" href="/css/generator.css"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/generator.css"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
    />
</head>
<body>
<form action th:action="@{/generated}" th:object="${exercise}" method="post">
    <div class="row">
        <div class="col-lg-12 mb-8">
            <!-- <div class="card-body"> -->
            <img class="card-img-top" src="" alt=""/>

            <div class="card-body1">

                <!--            amount of minutes for workout-->

                <!--            <h5 class="card-title">Create Your Workout</h5>-->
                <!--            <p class="card-text">How many minutes</p>-->
                <!--            <select class="form-select form-select-sm mt-3">-->
                <!--              <option>30</option>-->
                <!--              <option>45</option>-->
                <!--              <option>60</option>-->
                <!--            </select>-->

                <!--            Target Muscles-->

                <p class="card-text">Select Target Muscles</p>
                <select class="form-select form-select-sm mt-3" th:name="targetId">
                    <option th:if="${targetList.isEmpty}">None Available</option>
                    <option
                            th:each="target : ${targetList}"
                            th:value="${target.id}"
                            th:text="${target.toString}">
                    </option>
                </select>

                <!--            Workout Type-->

                <p class="card-text">Select Workout Type</p>

                <select class="form-select form-select-sm mt-3">
                    <option
                            th:each="group : ${getGroupMap}"
                            th:value="${group.value}"
                            th:text="${group.key}">
                    </option>
                </select>


                <!--            Select Equipment-->

                <p class="card-text">Select Equipment</p>
                <label th:if="${equipmentList.isEmpty()}"> None Available </label>
                <th:block th:each="equipment : ${equipmentList}">
                    <input
                            type="checkbox"
                            class="form-check-input"
                            name="equipment"
                            th:value="${equipment.id}"
                    />
                    <label th:text="${equipment.toString()}"></label>
                </th:block>

                <p class="card-text">Select Available Equipment</p>
                <div class="form-check-inline">

                    <!--              Test buttons-->

                    <!--              <label class="form-check-label" for="check1">-->
                    <!--                <input-->
                    <!--                  type="checkbox"-->
                    <!--                  class="form-check-input"-->
                    <!--                  id="check1"-->
                    <!--                  name="vehicle1"-->
                    <!--                  value="something"-->
                    <!--                  checked-->
                    <!--                />Option 1-->
                    <!--              </label>-->
                    <!--            </div>-->
                    <!--            <div class="form-check-inline">-->
                    <!--              <label class="form-check-label" for="check2">-->
                    <!--                <input-->
                    <!--                  type="checkbox"-->
                    <!--                  class="form-check-input"-->
                    <!--                  id="check2"-->
                    <!--                  name="vehicle2"-->
                    <!--                  value="something"-->
                    <!--                />Option 2-->
                    <!--              </label>-->
                    <!--            </div>-->

                    <button name="submit" class="btn btn-primary btn-sm" type="submit">
                        Generate Workout
                    </button>
                </div>


                <!-- </div> -->
            </div>
        </div>
</form>

<div class="col-lg-4 mb-2">
    <div class="article-card">
        <div class="content">
            <img src="http://d205bpvrqc9yn1.cloudfront.net/0541.gif"/>

            <!-- Exercise # -->
            <p class="exercise-num">Exercise 1</p>
            <!-- Exercise Name -->
            <p class="exercise-name">Kettlebell One Arm Row</p>
        </div>
    </div>

    <div class="article-card">
        <div class="content">
            <!-- Exercise # -->
            <img src="http://d205bpvrqc9yn1.cloudfront.net/0592.gif"/>

            <p class="exercise-num">Exercise 2</p>
            <!-- Exercise Name -->
            <p class="exercise-name">Lever Preacher Curl</p>
        </div>
    </div>


    <a href="#" id="reset-btn" class="btn btn-outline-primary btn-sm"> Reset </a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"
></script>
</body>
</html>