<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</thead>
<tbody>
<tr th:each="exercise : ${exerciseRequest}">
    <td th:text="${exercise.id}"></td>
    <td th:text="${exercise.bodyPart}"></td>
    <td th:text="${exercise.equipment}"></td>
    <td th:text="${exercise.name}"></td>
    <td th:text="${exercise.target}"></td>
    <td th:text="${exercise.exerciseGif}"></td>

</tr>
</tbody>
</table>
</body>
</html>