<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/register.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>



<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto my-4">
            <!--       <div class="card card-signup z-depth-0"> -->
            <div class="card-body text-center">
                <h1>Waist Management</h1>
                <h3 class="card-title">Create an account</h3>
                <p class="slogan">It's free and anyone can join!</p>

                <div class="md-form mat-2">
                    <input type="text" id="username" class="form-control">
                    <label for="username">Username</label>
                </div>

                <div class="md-form mat-2">
                    <input type="email" id="email" class="form-control">
                    <label for="email">E-mail</label>
                </div>

                <div class="md-form mat-2">
                    <input type="password" id="password" class="form-control">
                    <label for="password">Password</label>
                </div>

                <div class="md-form mat-2">
                    <input type="password" id="password2" class="form-control">
                    <label for="password2">Password confirmation</label>
                </div>

                <div class="card-foter text-right">
                    <button type="button" class="btn btn-outline-secondary" style="width: 120px;"><span>Sign up</span></button>
                </div>
            </div>
            <!--       </div> -->
        </div>
    </div>
</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>