<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static\css\table.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    

</head>
<body>
<div class="table_container">
          <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <th>Name</th>
                <th>GitHub Stars</th>
                <th>Number Of Commits</th>
                <th>Language</th>
            </thead>
            <tbody>
                <tr>
                    <td>Express</td>
                    <td>58k</td>
                    <td>5740</td>
                    <td>JS</td>
                </tr>
                <tr>
                    <td>Django</td>
                    <td>65.7k</td>
                    <td>30980</td>
                    <td>Python</td>
                </tr>
                <tr>
                    <td>laravel</td>
                    <td>70.7k</td>
                    <td>6769</td>
                    <td>PHP</td>
                </tr>
                <tr>
                    <td>rails</td>
                    <td>51.3k</td>
                    <td>84438</td>
                    <td>Ruby</td>
                </tr>
            </tbody>
        </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</body>
</html>
